<h1>Welcome to the {{ title }}</h1>
<!-- <h2>{{ getDisplay() }}</h2>
<h3>{{ data.name }}</h3>
<h4>{{ currentUrl }}</h4> -->
<!--
<app-login></app-login>
<app-register></app-register>
<app-profile></app-profile> -->

<!-- Name: <input type="text" placeholder="Enter name" (keyup)="getValue($any($event.target).value)" />
<h3>{{yt}}</h3>
<button (click)="getClick()">Click Me</button> -->

<p [class]="success">This is Success Message</p>
<p [class]="error">This is error Message</p>
<p [class]="underline">This is underline Message</p>
<p [class]="bold">This is bold Message</p>
<p [class]="multiclass">This is bold Message</p>
<!-- style binding-->
<p [style.color]="'blue'">This is style binding Message</p>
<p [style.color]="textcolor">This is dynamic style binding Message</p>
<p [style]="multiselection">This is multiselection style binding Message</p>
<!--condition style binding-->
<p [style.color]="hasError1 ? 'red' : 'green'">
  This is condition style binding Message
</p> 
<!-- <p [class.hasError]="error">This is hasError Message</p> not working in ang14-->
